.navigation__container {
  background-color: var(--main-color);
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.logo {
  display: flex;
  border-radius: 8px;
  padding: 1rem 0 0 1rem;
}

.logo img {
  width: 5rem;
}

.sidebar nav ul {
  margin-top: 1.25rem;
  padding: 0 1.25rem 1rem 1.25rem;
  list-style: none;
}

.sidebar nav ul li {
  padding: 0.5rem 0;
}
