.playlists {
  margin-top: 5rem;
  padding: 1rem;
  height: 1200px;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.main__link {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.default__link {
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
}

.default__link:hover {
  text-decoration: underline;
}

.data__not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 6rem 0;
  color: #fff;
}

.data__not-found .error__title {
  font-size: 1.4rem;
  font-weight: bold;
}

.data__not-found .error__description {
  font-size: 1rem;
  font-weight: 400;
}

.playlist__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem auto;
}

.playlist__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-item: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 8px;
  padding: 0.875rem;
  cursor: pointer;
  transition: 0.4s;
  background: linear-gradient(transparent, #181818);
}

.playlist__card:hover {
  background-color: #363636;
}

.playlist__card:hover .fa-play {
  opacity: 1;
  top: 6.5rem;
}

.artist__img {
  border-radius: 99%;
  width: 150px;
  align-self: center;
}

.playlist__img {
  border-radius: 8px;
  width: 150px;
  align-self: center;
}

.fa-play {
  position: absolute;
  color: #000;
  right: 1.5rem;
  top: 7rem;
  padding: 1.125rem;
  background-color: #1db954;
  border-radius: 100%;
  font-size: 1rem;
  transition: all ease 0.4s;
  opacity: 0;
}

.fa-play:hover {
  transform: scale(1.1);
}

.playlist__title {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0.875rem;
}

.playlist__description {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.no__data {
  font-size: 1.5rem;
  font-weight: 600;
}
