.playlists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  padding: 1rem;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.main__link {
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.default__link {
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: none;
}

.default__link:hover {
  text-decoration: underline;
}

.items__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

@media screen and (max-width: 1024px) {
  .playlists {
    padding: 1rem;
  }

  .items__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.05rem;
    margin: 1rem auto;
  }

  .data__not-found {
    justify-content: center;
    gap: 1rem;
    padding: 4rem 1rem 5rem;
    color: #fff;
  }
}

@media screen and (max-width: 1280px) {
  .items__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1080px) {
  .items__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 840px) {
  .items__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .playlists {
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  .items__container {
    margin: 2rem auto;
  }
}

@media screen and (max-width: 480px) {
  .items__container {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin: 2rem auto;
  }

  .data__not-found {
    justify-content: center;
    gap: 1rem;
    padding: 4rem 1rem 5rem;
    color: #fff;
  }
}

@media screen and (max-width: 390px) {
  .items__container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 2rem auto;
  }

  .data__not-found {
    justify-content: center;
    gap: 1rem;
    padding: 4rem 1rem 5rem;
    color: #fff;
  }
}
