.internal__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 3rem;
}

@media screen and (max-width: 480px) {
  .internal__links {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
