.sidebar__links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 0.75rem;
}

.sidebar__links a {
  color: var(--text-color);
  text-decoration: none;
}

.links__item {
  font-size: 0.66rem;
}

.cookies__link {
  font-size: 0.875rem;
}

.cookies__link:hover {
  text-decoration: underline;
}
