.copyright {
  border-top: 2px solid var(--secondary-color);
  margin: 0 2rem;
  padding: 3rem 0;
}

.mobile-only__container {
  display: none;
}

@media screen and (max-width: 1024px) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 1rem 0;
  }

  .mobile-only__container {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 1rem 0;
    gap: 1rem;
  }

  .mobile-only__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
