.menu-mobile__header {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-mobile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1rem;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
  }
}
